version: '3.3'

services:
  web:
    image: odoo:17
    depends_on:
      - db
    ports:
      - "8070:8069"
    volumes:
      - ./volumesOdoo/addons:/mnt/extra-addons
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
    volumes:
      - ./volumesOdoo/dataPostgreSQL:/var/lib/postgresql/data